

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* a {
  
  text-decoration: none;
}  */
.heading-color{
  color: #ff66d6;
}
.bg-color-normal{
  background-color: #7f005d;
}
.bg-color-dark{
  background-color: #680040;
  color: #ffff;
}
.bg-color-dark:hover{
  background-color: #a7067c;
  color: #ffff;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
